/* ==========================================================================
                                   font
   ========================================================================== */
body{
    font-size: 16px;
    line-height: 30px;
    }
.font-8 {
    font-size: 0.5rem;
    }

.font-10 {
    font-size: 0.625rem;
    }

.font-12 {
    font-size: 0.75rem;
    }

.font-13 {
    font-size: 0.8125rem;
    }

.font-14 {
    font-size: 0.875rem;
    }

.font-16 {
    font-size: 1rem;
    }

.font-18 {
    font-size: 1.125rem;
    }

.font-20 {
    font-size: 1.25rem;
    }

.font-22 {
    font-size: 1.375rem;
    }

.font-24 {
    font-size: 1.5rem;
    }

.font-26 {
    font-size: 1.625rem;
    }

.font-28 {
    font-size: 1.75rem;
    }

.font-30 {
    font-size: 1.875rem;
    }

.font-32 {
    font-size: 2rem;
    }
.font-42{
    font-size: 3rem;
    }
.font-72 {
    font-size: 72px;
    }

a:hover {
    text-decoration: none !important;
    }
.font-line-30{
    line-height: 30px;
    }
.text-light2{
    font-weight: 300;
    }
/* ==========================================================================
                                   color
   ========================================================================== */

body {
    color: #616161;
    /* overflow: hidden; */
    }
.text-white{
    color: white;
    }
.text-yellow{
    color: #fca80f;
    }
.text-red{
    color: #e2574c;
    }
.text-gray{
    color: #cccccc;
    }

.text-black{
    color: #232323;
    }
.text-black-light{
    color: #616161;
    }
.text-dark-violet{
    color: #372b7d;
    }
.back-dark-violet{
    background-color: #372b7d;

    }
.hover-text-black:hover{
    color: #372b7d;
    }
/* ==========================================================================
                                   btn
   ========================================================================== */

.btn-white{
    background-color: white;
    border-radius: 33px;
    height: 65px;
    min-width: 185px;
    text-align: center;
    padding: 20px 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    }
.btn-violet{
    background-color: #372b7d;
    border-radius: 33px;
    height: 65px;
    min-width: 225px;

    text-align: center;
    padding: 20px 0;
    color: white !important;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;

    }
.btn-violet-sm{
    background-color: #372b7d;
    border-radius: 33px;
    height: 40px;
    min-width: 130px;
    text-align: center;
    padding: 9px 30px;
    font-size: 12px;
    color: white !important;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;

    }
.btn-white-border{
    background-color: white;
    border: 1px solid #372b7d;
    border-radius: 33px;
    height: 40px;
    min-width: 130px;
    padding: 9px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    }
.btn-white-border:hover{
    color: #ffffff;
    background-color: #372b7d;
    border-color: #372b7d;
    box-shadow: 0px 11px 29px 0 rgba(124,82,156,0.45);
    }
.btn-white:hover{
    background-color:#372b7d;
    color: white !important;
    }
.btn-violet:hover,.btn-violet-sm:hover{
    background-color:white;
    color: #372b7d !important;
    border: 1px solid #372b7d;
    }
/* ==========================================================================
                                   header
   ========================================================================== */
.sidebar:before{
    content: "";
    background-color: rgba(55, 43, 125, 0.57);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    }
.sidebar{
    padding-bottom: 45px;
    position:relative;
    background-image: url("../img/portfolio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    }
.sidebar:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    width: 100%;
    background: url(../img/wave_header.svg);
    height: 20%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    }
.header-menu{
    border-bottom: 1px solid rgba(255, 255, 255, 0.22);
    }
.sidebar .navbar-dark .navbar-nav .nav-link,.sidebar-pages .navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    }
.navbar-dark .navbar-nav .active>.nav-link {
    color: #fca80f !important;
    font-weight: 500;
    }
.nav-lang-persian:before{
    content: "";
    background-image: url("../img/Flag_of_Iran.svg");
    height: 20px;
    width: 20px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
    }
.nav-lang-eng:before{
    content: "";
    background-image: url("../img/Flag_of_the_United_Kingdom.svg");
    height: 20px;
    width: 20px;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
    }
.nav-login{
    cursor: pointer;
    }
.nav-login svg{
    color: #fca80f;
    }
.header-menu .header-main .nav-item .nav-link:hover,.header-menu .header-main .nav-item.show .nav-link{
    color: #fca80f;
    font-weight: 500;
    }
/* ==================================
               form
   ================================== */
.sidebar-form{
    background-color: white;
    box-shadow: 0 15px 38px 10px rgba(0,0,0,0.1);
    border-radius: 10px !important;
    }
.sidebar-form-header{
    padding-top: 35px;
    padding-right: 40px !important;
    padding-left: 40px !important;


    }
.sidebar-form-header-text:after{
    content: "";
    background-color:#fca80f ;
    height: 2px;
    width: 70px;
    display: block;
    margin-top: 1rem !important;
    margin: 0 auto;
    }
input:not([type='checkbox']), select{
    height: 50px;
    /* max-width: 100%; */
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    padding: 10px 30px;
    -webkit-appearance: none;
    font-family: inherit;
    border: 1px solid #ddd;
    background: transparent;
    outline: 0;
    margin: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    color: #616161;
    margin-bottom: 1rem;
    }
textarea{
    height: 150px;
    /* max-width: 100%; */
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    padding: 10px 30px;
    -webkit-appearance: none;
    font-family: inherit;
    border: 1px solid #ddd;
    background: transparent;
    outline: 0;
    margin: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    color: #616161;
    margin-bottom: 1rem;
    }

input:not([type='checkbox']):focus, input:not([type='checkbox']):active, select:focus, select:active, textarea:focus, textarea:active {
    border-color: transparent;
    background: #fff;
    -webkit-box-shadow: 0 7px 38px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 7px 38px 0 rgba(0,0,0,0.1);
    box-shadow: 0 7px 38px 0 rgba(0,0,0,0.1);
    }
.input-form{
    position: relative;
    }
.input-form .form-icon {
    position: absolute;
    z-index: 1;
    top: 15px;
    /* height: 20px; */
    left: 35px;
    font-size: 20px;
    color: #bababa;
    }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bababa;
    opacity: 1; /* Firefox */
    }

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bababa;
    }

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bababa;
    }
.form-submit{
    background-color: #fca80f !important;
    border: none !important;
    width: 100%;
    box-shadow: 0px 11px 29px 0 rgba(252, 168, 15, 0.26);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;

    }
.form-submit-violet{
    background-color: #372b7d !important;
    border: none !important;
    width: 100%;
    box-shadow: 0px 11px 29px 0 rgba(55, 43, 125, 0.26);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    }
.form-submit-violet:hover{
    background-color: white !important;
    border: 1px solid #372b7d !important;
    width: 100%;
    box-shadow: none;
    color:#372b7d  !important;
    cursor: pointer;

    }
.form-submit:hover{
    background-color: white !important;
    border: 1px solid #fca80f  !important;
    width: 100%;
    box-shadow: none;
    color:#fca80f  !important;
    cursor: pointer;

    }
.sidebar-form-footer{
    background-color: #372b7d;
    border-radius:  0 0 10px 10px;
    }
.sidebar-form-footer p a:hover{
    color:#fca80f  !important;
    text-decoration: solid !important;
    }
.z-index{
    z-index: 2;
    }
/* ==========================================================================
                                 popular
   ========================================================================== */
.popular-pack-in{
    background: #f3f3f3;
    padding: 40px 30px;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    position: relative;
    }
.popular-pack-in:hover{
    background: #ffffff;
    -webkit-box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    }
.popular-pack-in-img{
    border-radius: 50% !important;
    overflow: hidden;
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 0 auto;
    }
.popular-pack-in-img img{
    max-height: 180px;
    min-height: 180px;
    /* max-width: 180px; */
    min-width: 180px;
    }
.popular-svg{
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    max-width: 400px;
    }
.popular-svg svg{
    fill: #e9e9e9;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    }
.popular-pack-in:hover svg{
    fill: #fca80f;
    }
.popular-pack-in-img-more{
    background-color: #372b7d !important;
    border: none !important;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    margin-top: -20px;
    color: white;
    height: 50px;
    border-radius: 50px;
    padding: 12px 0;
    text-align: center;
    box-shadow: 0px 11px 29px 0 rgba(55, 43, 125, 0.25);
    }
.popular-pack-in-img-more:hover{
    color: white;
    }
.popular-pack-in-images{
    padding-right: 15px;
    }
/* ==========================================================================
                                last
   ========================================================================== */
.last-pack{
    background: #f3f3f3 url("../img/section_08.png");
    background-position: left top !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    }
.nav-tabs.last-pack-tabs .nav-item.show .nav-link, .nav-tabs.last-pack-tabs .nav-link.active {
    color: #232323;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #fca80f;
    }
.nav-tabs.last-pack-tabs .nav-link:focus, .nav-tabs.last-pack-tabs .nav-link:hover {
    border-color: transparent ;
    color:#232323 ;
    }
.nav-tabs.last-pack-tabs .nav-link.active:focus, .nav-tabs.last-pack-tabs .nav-link.active:hover{
    border-bottom: 3px solid #fca80f;
    }
.nav-tabs.last-pack-tabs .nav-item.show .nav-link p, .nav-tabs.last-pack-tabs .nav-link.active p{
    color: #372b7d ;
    }
.last-pack-content-in-img-in{
    height: 134px;
    width: 134px;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 auto;
    }
.last-pack-content-in-img-in img{
    max-height: 134px;
    min-height: 134px;
    width: auto;

    }
.tab-content.last-pack-content>.active {
    display: flex;
    }
.last-pack-content-in{
    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    }

.last-pack-content-in:hover{
    background-color: #fff;
    -webkit-box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    border-radius: 10px;
    }
.last-pack-calender-btn{
    background-color: #fca80f;
    border-radius: 33px;
    color: white;
    height: 65px;
    min-width: 225px;
    text-align: center;
    padding: 20px 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0px 11px 29px 0 rgba(252, 168, 15, 0.42);
    -webkit-box-shadow: 0px 11px 29px 0 rgba(252, 168, 15, 0.42);
    -moz-box-shadow: 0px 11px 29px 0 rgba(252, 168, 15, 0.42);
    }
.last-pack-calender-btn:hover{
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow:  none;
    background-color: white;
    border: 1px solid #fca80f;
    color: #fca80f;
    }

/* ==========================================================================
                               Committee
   ========================================================================== */
.Committee{
    background-image: url("../img/timer-bg.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    height: 800px;
    }
.Committee:before{
    content: "";
    background-color: rgba(0, 0, 0, 0.57);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    }
.Committee-cont{
    height: 100%;
    }
.Committee-violet:after {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 1000px 300px;
    border-color: transparent transparent #372b7d transparent;
    }
.Committee-violet{
    background-color:#372b7d ;

    }
.bl-1{
    border-left: 1px solid rgba(255, 255, 255, 0.45);
    }
.bb-1{
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
    }
.Committee-content{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 150px 0;
    }
.Committee-icons-text{
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    }
.Committee-icons-text:hover{
    color: #fca80f !important;

    }
/* ==========================================================================
                               news
   ========================================================================== */
.btn-news:hover{
    color:#372b7d ;
    }
.card-news{
    border-radius: 10px;
    height: 100%;
    }
.card-news:hover{
    -webkit-box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);

    }
.card-news img{
    max-height: 200px;
    min-height: 200px;
    width: auto;
    border-radius: 10px 10px 0 0;
    }
.card-news-img{
    height: 200px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    }
/* ==========================================================================
                               counter
   ========================================================================== */
.counters{
    background-color: #372b7d;
    border-radius: 20px;
    -webkit-box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    }
/* ==========================================================================
                              logo
   ========================================================================== */
.logo{
    position: relative;
    background-color: #f3f3f3;
    }
.logo:before{
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    width: 100%;
    background: url(../img/wave_header.svg);
    height: 20%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    transform: rotate(180deg);
    }
.logo-slid .slick-slide img{
    margin: 0 auto;
    }
.slick-prev,.slick-next{
    display: none !important;
    }
/* ==========================================================================
                             footer
   ========================================================================== */
footer{
    background-color:#372b7d ;
    position: relative;
    padding-top: 139px;
    }
footer:before{
    content: "";
    display: block;
    position: absolute;
    top: -25px;
    width: 100%;
    background: url(../img/wave_header2.svg);
    height: 28%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    transform: rotate(180deg);
    }
footer .nav-link:hover{
    color: #fca80f;
    font-weight: 500;
    }
.register-footer input{
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    color: #cccccc;
    padding: 10px 10px;
    }
.register-footer input::placeholder{
    color: #cccccc;
    }

.register-footer input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cccccc;
    }

.register-footer input::-ms-input-placeholder { /* Microsoft Edge */
    color: #cccccc;
    }
.register-footer button{
    background-color:#fca80f;
    color: white !important;
    border-radius: 25px;
    border: none;
    min-width: 100px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #fca80f;
    }
.register-footer button:hover{
    background-color:white;
    color: #fca80f !important;
    border: 1px solid #fca80f;
    }
ul.social {
    text-align: left;
    direction: ltr;
    margin: 0;
    padding: 0;
    }
ul.social li {
    width: 35px;
    height: 35px;
    display: inline-block;
    }
ul.social li a {
    width: 35px;
    height: 35px;
    display: block;
    background-repeat: no-repeat !important;
    background-position: center !important;
    }
.social li:first-child a {
    background: url(../img/social1.png);
    }
.social li:nth-child(2) a {
    background: url(../img/social2.png);
    }
.social li:nth-child(3) a {
    background: url(../img/aparat-logo.png);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: black solid 1px;
    }
.footer-copy{
    border-top: 1px solid rgba(243, 243, 243, 0.31);
    }
/* ==========================================================================
                            calender
   ========================================================================== */
.calender-main .btn-group>.btn-group:not(:last-child)>.btn,.calender-main .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    }
.calender-main .btn-group>.btn-group:not(:first-child)>.btn,.calender-main .btn-group>.btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    }
.calender-main .btn-primary:not(:disabled):not(.disabled).active,.calender-main .btn-primary:not(:disabled):not(.disabled):active,.calender-main .show>.btn-primary.dropdown-toggle{
    background-color: #fca80f;
    border-color: #fca80f;
    }
.calender-main  .fc-dayGridMonth-button.active{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    }
.calender-main  .fc-dayGridWeek-button{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    }
.circle-red:before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #ca0e21;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
    }
.circle-violet:before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #372b7d;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
    }
.circle-yellow:before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #fcae2e;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
    }
.circle-green:before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #28a745;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
    }
.circle-blue:before{
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #007bff;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
    }
.btn-yellow-calender{
    background-color: #fcae2e;
    color: white !important;
    border-radius: 25px;
    min-width: 100px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #fcae2e;
    }
.btn-violet-calender{
    background-color: white;
    color: #372b7d !important;
    border-radius: 25px;
    min-width: 120px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #372b7d;
    }
.btn-yellow-calender:hover{
    background-color: white;
    color:  #fcae2e !important;
    border: 1px solid #fcae2e;
    }
.btn-violet-calender:hover{
    background-color: #372b7d;
    color: white !important;
    border: 1px solid #372b7d;
    }
.btn-in-calender {
    background-color: white;
    border-radius: 33px;
    color: #372b7d;
    border: 1px solid #372b7d;
    height: 65px;
    min-width: 225px;
    text-align: center;
    padding: 20px ;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0px 11px 29px 0 rgba(55, 43, 125, 0.42);
    -webkit-box-shadow: 0px 11px 29px 0 rgba(55, 43, 125, 0.42);
    -moz-box-shadow: 0px 11px 29px 0 rgba(55, 43, 125, 0.42);
    }
.btn-in-calender:hover{
    background-color: #372b7d;
    color: white;
    border: 1px solid #372b7d;
    }
/* ==========================================================================
                            pages
   ========================================================================== */
.sidebar-pages {
    padding-bottom: 45px;
    position: relative;
    background-image: url(../img/17298.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
.sidebar-pages:before {
    content: "";
    background-color: rgba(55, 43, 125, 0.57);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    }
.sidebar-pages .breadcrumb{
    background-color: transparent;
    }

.sidebar-pages  .breadcrumb-item a{
    color: white ;
    }
.sidebar-pages .breadcrumb-item.active{
    color: #fca80f ;
    }
.footer-pages:before{
    display: none;
    }
footer.footer-pages {

    padding-top: 50px;
    }
.breadcrumb-item+.breadcrumb-item::before {
    color: #ffffff;

    }
/* ==========================================================================
                          modal
   ========================================================================== */
#ModalLogin .modal-header{
    border: none;
    }
#ModalLogin .modal-title:after {
    content: "";
    background-color: #fca80f;
    height: 2px;
    width: 70px;
    display: block;
    margin-top: 1rem !important;
    margin: 0 auto;
    }
/* ==========================================================================
                          register
   ========================================================================== */
.register-box{
    border: 1px solid #dddddd;
    border-radius: 10px;
    }
.register-box p{
    line-height: 25px;
    }
@-webkit-keyframes
click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-right: -80px;
        margin-top: -80px;
        opacity: 0.0;
        }
    }
@-moz-keyframes
click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-right: -80px;
        margin-top: -80px;
        opacity: 0.0;
        }
    }
@-o-keyframes
click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-right: -80px;
        margin-top: -80px;
        opacity: 0.0;
        }
    }
@keyframes
click-wave { 0% {
    width: 40px;
    height: 40px;
    opacity: 0.35;
    position: relative;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-right: -80px;
        margin-top: -80px;
        opacity: 0.0;
        }
    }




.register-main .option-input{
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    /* top: 13.33333px; */
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    background: transparent;
    border: 1px solid #363845;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    /* margin-right: 0.5rem; */
    z-index: 1000;
    padding: 0;
    margin: 0;
    }

.register-main .nav-link:hover {  }

.register-main .nav-link.active .option-input { background: #fca80f;
    border: 1px solid #fca80f;}

.register-main .nav-link.active .option-input::before {
    width: 40px;
    height: 40px;
    position: absolute;
    content: '\2713';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 45px;
    }

.register-main .nav-link.active .option-input::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #fca80f;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    }

.register-main .option-input {border-radius: 50%;/* margin-top: -25px; */margin-left: 5px;}

.register-main .option-input::after { border-radius: 50%; }



.register-main .demo {/* padding: 5rem; *//* display:block; */}
.register-main .nav-item .nav-link{
    border: 1px solid #dddddd;
    border-radius: 10px;
    }
.register-main .nav-pills .nav-link.active,.register-main .nav-pills .show>.nav-link {
    color: inherit;
    background-color: transparent;
    }
/* ==========================================================================
                          detail
   ========================================================================== */
@media (min-width: 992px){
    .detail-main .col-lg-9 {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
        }
    .detail-main .col-lg-3 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
        }
    }

.img-top-detail .card-body{
    background-color: #372b7d;
    }
.list-detail-in{
    list-style: none;
    padding: 0;
    }
.bar-detail{
    background-color: #f3f3f3;
    border-radius: 5px;
    }
.title-bar-detail{
    background-color: #372b7d;
    border-radius: 5px;
    padding: 10px;
    }
.list-detail-in li{
    margin-bottom: 1.5rem;
    }
.btn-bar-detail {
    background-color: #fca80f;
    border: 1px solid #fca80f;
    border-radius: 33px;
    color: white;
    height: 55px;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0px 11px 29px 0 rgba(252, 168, 15, 0.2);
    -webkit-box-shadow: 0px 11px 29px 0 rgba(252, 168, 15, 0.2);
    -moz-box-shadow: 0px 11px 29px 0 rgba(252, 168, 15, 0.2);
    }
.btn-bar-detail:hover{
    background-color: white;
    color: #fca80f;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    }
.Related-post-img {
    border-radius: 50% !important;
    overflow: hidden;
    width: 70px;
    height: 70px;
    text-align: center;
    /* margin: 0 auto; */
    }
.Related-post-img img {
    max-height: 70px;
    min-height: 70px;
    /* max-width: 180px; */
    min-width: 70px;
    }
/* ==========================================================================
                        link
   ========================================================================== */
.link-in{
    background-color: white;
    border: 1px solid #ddd;
    padding: 35px 35px 45px 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: none;
    margin-top: 20px;

    }
.more-link-in{
    text-align: center;
    right: 40px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0px 11px 29px 0 rgba(252, 168, 15, 0.2);
    -webkit-box-shadow: 0px 11px 29px 0 rgba(252, 168, 15, 0.2);
    -moz-box-shadow: 0px 11px 29px 0 rgba(252, 168, 15, 0.2);
    background-color: #fca80f;
    border: 1px solid #fca80f;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: -27.5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    z-index: 1;
    vertical-align: middle;
    padding: 10px 0;
    color: white;
    font-size: 25px;
    display: inline-block;
    }
.link-in:hover .more-link-in{
    -webkit-animation: bounceReadMore .5s ease-in-out both;
    -moz-animation: bounceReadMore .5s ease-in-out both;
    -o-animation: bounceReadMore .5s ease-in-out both;
    animation: bounceReadMore .5s ease-in-out both;
    opacity: 1;
    visibility: visible;
    margin: 0;
    }
.more-link-in:hover{
    background-color: white;
    color: #fca80f;
    }
.link-in:hover{
    box-shadow: 0px 15px 38px 0 rgba(0,0,0,0.1);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    background-color: #fff;
    }
.link-in:hover .img-link-in svg{
    fill: #fca80f;
    }

/* ==========================================================================
                        profile
   ========================================================================== */
.profile-top{
    position: relative;
    z-index: 1;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    margin-bottom: 52px;
    -webkit-box-shadow: 0 10px 38px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 10px 38px 0 rgba(0,0,0,0.1);
    box-shadow: 0 10px 38px 0 rgba(0,0,0,0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    }
.profile-top-image{
    padding: 0 40px 0 40px;
    position: relative;
    text-align: center;
    }
.profile-top-image img{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    }
.profile-top-icons{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: auto;
    line-height: 0;
    color: #fff;
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px 40px 20px 70px;
    /* text-align: center; */
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    text-align: left;
    -webkit-border-top-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-bottom-left-radius: 50px;
    background-color: #fca80f;
    }
.profile-top:hover .profile-top-icons{
    width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: calc(100% - 70px);
    margin-right: 35px;
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;

    }
.qr-profile{
    max-width: 180px;
    }
.profile-top-svg{
    position: absolute;
    width: 140px;
    left: -20px;
    top: 0;
    height: 100%;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    }
.profile-top-svg svg{
    fill: #372b7d;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    }
.profile-top:hover .profile-top-svg svg{
    fill: #fca80f;
    }
.list-profile{
    list-style: none;
    }
.list-profile li p:before{
    content: "\2022";
    color: #fca80f;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-right: -1em;
    }
.form-profile .custom-file-label{
    height: 50px;
    /* max-width: 100%; */
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    padding: 10px 30px;
    -webkit-appearance: none;
    font-family: inherit;
    border: 1px solid #ddd;
    background: transparent;
    outline: 0;
    margin: 0;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    color: #bababa;
    margin-bottom: 1rem;
    }
.input-upload{
    position: relative;
    }

.custom-file-label::after{
    height: 100%;
    padding: .8rem 3rem;
    color: white;
    background-color: #fca80f;
    content: 'انتخاب فایل';
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    cursor: pointer;
}


.form-profile .custom-file-label::after{
    height: 100%;
    padding: .8rem 3rem;
    color: white;
    background-color: #fca80f;
    content: 'انتخاب فایل';
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    cursor: pointer;
    }

/* ==========================================================================
                     contact
   ========================================================================== */
.form-contact{
    margin-right: -5% !important;
    margin-bottom: -90px !important;
    margin-left: -5% !important;
    padding-right: 10% !important;
    padding-left: 10% !important;
    background-color: #ffffff !important;
    border-radius: 10px !important;
    box-shadow: 0 10px 38px 0 rgba(0,0,0,0.1);
    }
/* ==========================================================================
                     about
   ========================================================================== */
.counter-about-img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    }
.counter-about{
    position: relative;
    height: 150px;
    padding: 55px 0;
    text-align: center;
    }
.history-about{
    background-color: #f3f3f3;
    }
.logo-about{
    background-color: #372b7d;
    }
.backImg-about:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.57);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    }
.backImg-about{
    background-image: url(../img/last3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;

    }
.ceo-img {
    border-radius: 50% !important;
    overflow: hidden;
    width: 180px;
    height: 180px;
    text-align: center;
    margin: 0 auto;
    }
.ceo-more-out{
    margin-top: -30px;
    position: relative;
    z-index: 1;
    }
.ceo-more{
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    color: #909aa3;
    background: #f3f3f3;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 9px 0;
    display: block;
    text-align: center;
    }
.ceo-more:hover{
    color: #372b7d;
    }
.ceo-more svg{
    margin-left: 10px;
    }
.ceo-img img {
    max-height: 180px;
    min-height: 180px;
    /* max-width: 180px; */
    min-width: 180px;
    }
.ceo-out{
    position: relative;
    z-index: 1;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    background: #fff;
    max-width: 255px;
    min-width: 255px;
    margin: 0 auto;
    }
.ceo-in{
    padding: 20px;
    margin: 20px 0;
    }
.ceo-out:hover{
    background-color: white;
    -webkit-box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    box-shadow: 0 15px 38px 0 rgba(0,0,0,0.1);
    }

.center-y{
    margin-left: auto !important;
    margin-right: auto !important;
}
.center-x{
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.center{
    margin: auto !important;
}

.hidden{
    display: none;

}



/* ==========================================================================
                     newwwwwwwwwwww
   ========================================================================== */
.Committee {
    height: 685px;
}
.register-fix {
    position: fixed;
    z-index: 100000;
    top: 0;
    bottom: 0;
    right: 0;
    width: 360px;
    background: #fff;
    transform: translateX(100%);
    transition: transform .45s ease-in-out;
}
.register-fix-in{
    position: absolute;
    bottom: calc(50% - 230px);
    left: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    transition: 0.45s ease-in-out;
    background-color: rgb(252, 168, 15);
    color: #372b7d;
    border-radius: 0px 5px 5px 0px;
    padding: 15px 0px 15px;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    transform: rotate(180deg);
    font-size: 15px;
    font-weight: bold;
    font-family: inherit;
    overflow: hidden;
    max-height: 200px;
    height: 170px;
    min-width: 40px;
}
.register-fix-in svg{

    position: absolute;

    display: inline-block;

    height: 24px;

    transform: rotate(90deg) translateY(0);

    margin-bottom: 0;

    fill: #fff;

    top: 11px;
}
.register-fix-text{
    position: absolute;
    margin-top: 34px;
    transition: .45s;
}

.counters{
    border-radius: 0;
}
.link-img:hover .overlay-img{
    opacity: 1;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: calc(100% - 60px);
    left: 30px;
    top: 30px;
}
.link-img:hover .link-img-more{
    opacity: 1;

}
.overlay-img{
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    padding: 0;
    background-color: rgba(55, 43, 125, 0.9);
}
.link-img-more{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 24px 29px;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
.link-img-more p{
    color: #fff;
}
.link-img-more svg{
    color: #fff;

}



.img-profile{
    height: 200px;
    width: 200px;
}
.back-tag{
    background-color: gainsboro;
    padding: 0 20px;
    border-radius: 3px;
}

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #616161;
    border-radius: 50%;
    /* background-color: #adb5bd; */
    align-items: center;
    justify-content: center;
}
.avatar-group{

    display: flex;
}
.avatar img {

    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.avatar-sm {
    font-size: .875rem;
    width: 50px;
    height: 50px;
}

.avatar-group .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid #fff;
}
.avatar-group .avatar.diamond {
    position: relative;
    z-index: 2;
    border: none;
    /* display: flex; */
}
.avatar-group .avatar.avatar-text {
    background-color: gainsboro;
}
.avatar-group .avatar:hover {
    z-index: 3;
}

.avatar-group .avatar + .avatar {
    margin-right: -1rem;
}
.YC-Member{
    max-height: 100px;
}
.lebel-img{
    max-height: 70px;
}
.list-diamond{

    min-height: 100px;

}
.table-responsive.table-result{
    display: table;
}
.profile-top-icons.fix-profile-icon{
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
    width: auto;
    margin-right: 0;
    position: relative;
    padding: 8px 40px;
    text-align: center;
    line-height: 2;
    color: #fff;
    top: -10px;
    right: 0;
    left: 0;
}
.profile-top-icons.fix-profile-icon p{
    text-align: center;
}
.profile-top:hover .profile-top-icons.fix-profile-icon {
    width:auto;
    width: -moz-calc(100% );
    width: calc(100% );
    margin-right: 0;
    -webkit-border-top-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-bottomright: 50px;
    border-bottom-right-radius: 50px;
}
.table-responsive.table-result th{
    border-top: none;
}
.btn-yellow-border {
    background-color: #fca80f !important;
    border: none !important;
    color: white;
    border-radius: 33px;
    height: 40px;
    min-width: 130px;
    padding: 9px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.submin-modal{
    width: 140px;
}
.profile-top-image {
    padding: 0 !important;
    position: relative;
    text-align: center;
}
.list-profile {
    list-style: none;
    padding: 0;
}
.list-img{
    max-height: 50px;
}
.form-profile .custom-file-label::after{

    content: 'انتخاب کنید';

}

.qr-profile svg{
    width: 100%;
    height: auto;
}



.profile-dropdown svg{
    color: #372b7d;
    vertical-align: middle;
    margin-left: 10px !important;
}


.header-top-bar input {
    outline: none;
}
.header-top-bar input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
.header-top-bar input::-webkit-search-decoration,
.header-top-bar input::-webkit-search-cancel-button {
    display: none;
}


.header-top-bar input[type=search] {
    background: #ffffff url(../img/search-icon.png) no-repeat right 10px center;
    border: solid 1px #fff;
    padding: 9px 32px 9px 10px;
    width: 65px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    height: 20px;
    margin-bottom: 0;
    margin-right: 15px;
    margin-top: -8px;
}
.header-top-bar input[type=search]:focus {
    width: 250px;
    background-color: #fff;
    border-color: #fca80f;

    -webkit-box-shadow: 0 0 5px rgba(252, 168, 15, 0.5);
    -moz-box-shadow: 0 0 5px rgba(252, 168, 15, 0.5);
    box-shadow: 0 0 5px rgba(252, 168, 15, 0.5);
}


.header-top-bar input:-moz-placeholder {
    color: #999;
}
.header-top-bar input::-webkit-input-placeholder {
    color: #999;
}

@media screen and (max-width: 996px) {
    .header-top-bar input[type=search] {

        margin-bottom: 0;
        margin-right: 0;
        margin-top: 10px;
    }
    .nav-login-out span {
        display: inline-block !important;
    }
    .nav-login-out .dropdown-toggle span{
        display: none !important;
    }

}
@media screen and (max-width: 556px) {
    .text-logo{
        font-size: 14px;
    }

}
@media screen and (max-width: 340px) {
    .text-logo{
        font-size: 12px;
    }

}
.logo-ipma{
    max-height: 65px;
}
.nav-login-out .dropdown-menu{
    position: absolute;
    left: 0;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
@media (min-width: 992px){
    .dropdown-menu .dropdown-toggle:after{
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
        transform: rotate(180deg);
        float: left;
        margin-top: 7px;
    }

    .dropdown-menu .dropdown-menu{
        margin-left:0; margin-right: 0;
    }

    .dropdown-menu li{
        position: relative;
    }
    .nav-item .submenu{
        display: none;
        position: absolute;
        left:100%; top:-7px;
    }
    .nav-item .submenu-left{
        right:100%; left:auto;
    }

    .dropdown-menu > li:hover{ background-color: #f1f1f1 }
    .dropdown-menu > li:hover > .submenu{
        display: block;
    }
}
@media (max-width: 991px){
    .nav-item .submenu-left {
        display: block;
        padding-right: 30px;
    }
}

.v-purple{
    background-color: #372b7d;
    flex: 1 1 auto;
    padding: 1.25rem;
}