<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href=""/>
    <title>انجمن مدیریت پروژه</title>
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' media='all'/>
    <link rel="stylesheet" href="css/stylefont.css" type='text/css' media='all'>
    <link rel="stylesheet" href="css/fontiran.css" type='text/css' media='all'>
    <link rel="stylesheet" href="css/all.css" type='text/css' media='all'>

    <link rel="stylesheet" href="css/style-calender.css">
    <link rel="stylesheet" href="css/style-main.css" type='text/css' media='all'>
    <link rel="stylesheet" href="css/responsive.css" type='text/css' media='all'>




</head>
<body>
<header id="header">
    <div class="header-top-bar back-dark-violet pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="img/logo.png" alt="انجمن مدیریت پروژه">
                    <h1 class="text-white d-inline-block font-18 text-regular ml-2">انجمن مدیریت پروژه ایران</h1>
                </div>
                <div class="col-md-6 text-right">
                    <img src="img/ipma-logo.png" alt="انجمن مدیریت پروژه">
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-pages ">
        <div class="header-menu pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg  navbar-dark col-12">


                        <!-- Toggler/collapsibe Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <ul class="navbar-nav nav-login-out ml-auto  order-lg-1">
                            <li class="nav-item ">
                                <a class="nav-link nav-login" data-toggle="modal" data-target="#ModalLogin">
                                    <i class="fa fa-user mr-1"></i>
                                    <span>   ورود کاربران</span>
                                </a>

                            </li>
                            <!-- Dropdown -->
                            <li class="nav-item dropdown nav-lang">
                                <a class="nav-link dropdown-toggle nav-lang-persian" href="#" id="navbardrop5"
                                   data-toggle="dropdown">
                                    <span>فارسی</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-lang-eng" href="#"><span>انگلیسی</span></a>

                                </div>
                            </li>
                        </ul>
                        <!-- Navbar links -->
                        <div class="collapse navbar-collapse order-lg-0" id="collapsibleNavbar">
                            <ul class="navbar-nav header-main">
                                <li class="nav-item active">
                                    <a class="nav-link " href="#">صفحه اول</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">درباره انجمن</a>
                                </li>

                                <!-- Dropdown -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        شبکه اعضا </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Link 1</a>
                                        <a class="dropdown-item" href="#">Link 2</a>
                                        <a class="dropdown-item" href="#">Link 3</a>
                                    </div>
                                </li>
                                <!-- Dropdown -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop2"
                                       data-toggle="dropdown">
                                        محصولات و خدمات </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Link 1</a>
                                        <a class="dropdown-item" href="#">Link 2</a>
                                        <a class="dropdown-item" href="#">Link 3</a>
                                    </div>
                                </li>
                                <!-- Dropdown -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop3"
                                       data-toggle="dropdown">
                                        ارکان انجمن </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Link 1</a>
                                        <a class="dropdown-item" href="#">Link 2</a>
                                        <a class="dropdown-item" href="#">Link 3</a>
                                    </div>
                                </li>

                            </ul>

                        </div>

                    </nav>
                </div>
            </div>
        </div>

        <div class="slider-text-page pt-5 pt-lg-5 mt-lg-5">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item font-20"><a href="#">خانه</a></li>
                            <li class="breadcrumb-item font-20 active">جزییات دوره</li>
                        </ul>
                        <h1 class="title-page font-42 text-white">دوره آموزشی</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>


</header>
<main id="content-page" role="main">
    <!-- calender main -->
    <div class="container">
        <div class="detail-main mt-5 mb-5">
            <div class="row">
                <div class="col-lg-9">
                        <div class="card img-top-detail" >
                            <img class="card-img-top" src="img/last2.jpg" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title text-white m-0">اکسل پیشرفته در برنامه ریزی های پروژه</h4>


                            </div>
                        </div>
                    <div class="text-detail mt-4">
                        <h2 class=" font-24 text-medium text-black  mb-4">توضیحات دوره
                        </h2>
                        <p class=" text-black-light font-16 ">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
                        <p class=" text-black-light font-16 ">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد</p>

                    </div>
                    <div class="list-detail mt-4">
                        <h2 class=" font-24 text-medium text-black  mb-4">سر فصل های دوره
                        </h2>
                        <ul class="list-detail-in">
                            <li class="text-black-light mb-2">فصل اول: کار با صفحات گسترده</li>
                            <li class="text-black-light mb-2">آشنایی با نرم افزار EXCEL 2016</li>
                            <li class="text-black-light mb-2">معرفی نرم افزار EXCEL</li>
                            <li class="text-black-light mb-2">بازکردن برنامه وایجاد فایل</li>
                            <li class="text-black-light mb-2">آشنایی با محیط کاریEXCEL </li>
                            <li class="text-black-light mb-2">بستن فایل</li>
                            <li class="text-black-light mb-2">مفاهیم اصل</li>
                            <li class="text-black-light mb-2">انتخاب ها</li>
                            <li class="text-black-light mb-2">حذف و اضافه کردن سطرها و ستون ها</li>
                            <li class="text-black-light mb-2">تغییر عرض ستون ها وارتفاع سطرها</li>
                            <li class="text-black-light mb-2">مخفی کردن ستون و ردیف </li>
                            <li class="text-black-light mb-2">ثابت کردن ستون و ردیف</li>
                            <li class="text-black-light mb-2">انتقال مکان نما به کمک کلیدهای میانبر</li>
                            <li class="text-black-light mb-2">تغییر جهت کلید Enter</li>
                            <li class="text-black-light mb-2">مخفی کردن عنوان ستون ها،شماره سطرها و خطوط سلول ها</li>

                        </ul>
                    </div>
                    <div class="address-detail mt-4">
                        <h2 class=" font-24 text-medium text-black  mb-4">اطلاعات برگذاری
                        </h2>
                        <p class=" text-black-light font-16 ">
                            آدرس: تهران، امیرآباد شمالی، بالاتر از بزرگراه جلال آل احمد، پردیس دانشکده های فنی دانشگاه تهران، ساختمان
                            انستیتو مهندسی نفت، طبقه همکف
                        </p>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1020.2035107695417!2d51.38413291903233!3d35.72758843621406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0728f1286b91%3A0xf8a61ce1468a9dcd!2sKuy-e-Daneshgah%2C%20District%206%2C%20Tehran%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1578650567409!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="bar-detail pt-4 pb-4 pr-3 pl-3">
                        <h2 class="title-bar-detail text-white font-18 text-medium mb-4">زمانبندی دوره</h2>
                        <ul class="list-detail-in">
                            <li><span class="text-black pr-1 text-regular ">شروع ثبت نام : </span><span class="text-red">2/5/1398</span></li>
                            <li><span class="text-black pr-1 text-regular">شروع دوره : </span><span class="text-black-light">2/5/1398</span></li>
                            <li ><span class="text-black pr-1 text-regular">پایان دوره : </span><span class="text-black-light">2/5/1398</span></li>
                            <li ><span class="text-black pr-1 text-regular">زمان دوره : </span><span class="text-black-light">2/5/1398</span></li>

                        </ul>
                        <h2 class="title-bar-detail text-white font-18 text-medium mb-4">جزییات دوره</h2>
                        <ul class="list-detail-in">
                            <li ><span class="text-black pr-1 text-regular">سطح دوره  : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li ><span class="text-black pr-1 text-regular">نام مدرس : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li ><span class="text-black pr-1 text-regular">روش تدریس : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li ><span class="text-black pr-1 text-regular">سطح دوره  : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li ><span class="text-black pr-1 text-regular">موضوع دوره : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li ><span class="text-black pr-1 text-regular">نام مدرس : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li ><span class="text-black pr-1 text-regular">روش تدریس : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li ><span class="text-black pr-1 text-regular">موضوع دوره : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li ><span class="text-black pr-1 text-regular">نام مدرس : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li><span class="text-black pr-1 text-regular">روش تدریس : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li ><span class="text-black pr-1 text-regular">موضوع دوره : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li ><span class="text-black pr-1 text-regular">نام مدرس : </span><span class="text-black-light">متن تصادفی</span></li>
                            <li><span class="text-black pr-1 text-regular">روش تدریس : </span><span class="text-black-light">متن تصادفی</span></li>

                        </ul>
                        <a href="/" class="btn btn-bar-detail mt-3 mb-4">میخواهم شرکت کنم</a>
                        <div class="d-flex justify-content-end mt-2">
                            <a href="/" class="ml-2">
                                <img src="img/save.png" alt="..">
                            </a>
                            <a href="/" class="ml-2">
                                <img src="img/print.png" alt="..">
                            </a>
                            <a href="/" class="ml-2">
                                <img src="img/pdf.png" alt="..">
                            </a>
                        </div>
                    </div>
                    <div class="bar-detail pt-4 pb-4 pr-3 pl-3 mt-4">
                        <h2 class="title-bar-detail text-white font-18 text-medium mb-4">دوره های مرتبط</h2>
                        <div class="Related-post row mb-4 pr-3 pr-lg-0 pl-3 pl-lg-0">
                            <div class="col-12 col-sm-3 col-md-2 col-lg-5 col-xl-4">
                                <div class="Related-post-img ">
                                    <img class="rounded" src="img/popular3.jpg" alt="انجمن مدیریت پروژه">
                                </div>
                            </div>

                            <div class="Related-post-titles pl-0 col-12 col-sm-9 col-md-10 col-lg-7 col-xl-8 mt-2 mt-sm-0">
                                <h4 class="Related-post-title font-14 text-medium text-black mb-2 "><a class="text-black hover-text-black" href="/">لورم ایپسوم متن ساختگی با تولید
                                    سادگی نامفهوم
                                </a></h4>
                                <div class="Related-post-title-sub text-yellow font-14 text-light2 mb-0">۲
                                    شهریور ۱۳۹۸
                                </div>
                            </div>
                        </div>
                        <div class="Related-post row mb-4 pr-3 pr-lg-0 pl-3 pl-lg-0">
                            <div class="col-12 col-sm-3 col-md-2 col-lg-5 col-xl-4">
                                <div class="Related-post-img ">
                                    <img class="rounded" src="img/popular3.jpg" alt="انجمن مدیریت پروژه">
                                </div>
                            </div>

                            <div class="Related-post-titles pl-0 col-12 col-sm-9 col-md-10 col-lg-7 col-xl-8 mt-2 mt-sm-0">
                                <h4 class="Related-post-title font-14 text-medium text-black mb-2 "><a class="text-black hover-text-black" href="/">لورم ایپسوم متن ساختگی با تولید
                                    سادگی نامفهوم
                                </a></h4>
                                <div class="Related-post-title-sub text-yellow font-14 text-light2 mb-0">۲
                                    شهریور ۱۳۹۸
                                </div>
                            </div>
                        </div>
                        <div class="Related-post row mb-4 pr-3 pr-lg-0 pl-3 pl-lg-0">
                            <div class="col-12 col-sm-3 col-md-2 col-lg-5 col-xl-4">
                                <div class="Related-post-img ">
                                    <img class="rounded" src="img/popular3.jpg" alt="انجمن مدیریت پروژه">
                                </div>
                            </div>

                            <div class="Related-post-titles pl-0 col-12 col-sm-9 col-md-10 col-lg-7 col-xl-8 mt-2 mt-sm-0">
                                <h4 class="Related-post-title font-14 text-medium text-black mb-2 "><a class="text-black hover-text-black" href="/">لورم ایپسوم متن ساختگی با تولید
                                    سادگی نامفهوم
                                </a></h4>
                                <div class="Related-post-title-sub text-yellow font-14 text-light2 mb-0">۲
                                    شهریور ۱۳۹۸
                                </div>
                            </div>
                        </div>
                        <div class="Related-post row mb-4 pr-3 pr-lg-0 pl-3 pl-lg-0">
                            <div class="col-12 col-sm-3 col-md-2 col-lg-5 col-xl-4">
                                <div class="Related-post-img ">
                                    <img class="rounded" src="img/popular3.jpg" alt="انجمن مدیریت پروژه">
                                </div>
                            </div>

                            <div class="Related-post-titles pl-0 col-12 col-sm-9 col-md-10 col-lg-7 col-xl-8 mt-2 mt-sm-0">
                                <h4 class="Related-post-title font-14 text-medium text-black mb-2 "><a class="text-black hover-text-black" href="/">لورم ایپسوم متن ساختگی با تولید
                                    سادگی نامفهوم
                                </a></h4>
                                <div class="Related-post-title-sub text-yellow font-14 text-light2 mb-0">۲
                                    شهریور ۱۳۹۸
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



                </div>

    </div>



</main>
<footer id="footer" class="footer-pages">
    <div class="container">
        <div class="row mb-3">
            <div class="contact-footer col-12 col-lg-5">
                <div class="footer-logo mb-3">
                    <img src="img/logo-foo.png" alt="..">
                    <span class="text-regular text-white">تماس با انجمن</span>
                </div>
                <div class="contact-footer-in">
                    <p class="text-gray font-14"><span>آدرس:</span><span>تهران، امیرآباد شمالی، بالاتر از بزرگراه جلال آل احمد، پردیس دانشکده های فنی دانشگاه تهران، ساختمان انستیتو مهندسی نفت، طبقه همکف</span>
                    </p>
                </div>
                <div class="contact-footer-in">
                    <p class="text-gray font-14"><span>تلفن:</span><span>(5خط) 88229406</span></p>
                </div>
                <div class="contact-footer-in">
                    <p class="text-gray font-14"><span>نمابر:</span><span>89784216</span></p>
                </div>
                <div class="contact-footer-in">
                    <p class="text-gray font-14"><span>پست الكترونيك دبیرخانه:</span><span>info@ipma.ir</span></p>
                </div>
                <div class="contact-footer-in">
                    <p class="text-gray font-14"><span>پست الکترونیک عضویت: </span><span>membership@ipma.ir</span></p>
                </div>
            </div>
            <div class="link-footer col-6 col-sm-6 col-md-3 col-lg-2">
                <p class="text-regular text-white pt-2">لینک انجمن</p>
                <nav class="navbar p-0">

                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">تاریخچه انجمن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">سازمان انجمن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">اساسنامه و مجوزها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">اعضای هیات مدیره</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">موسسین انجمن</a>
                        </li>

                    </ul>

                </nav>
            </div>
            <div class="link-footer col-6 col-sm-6 col-md-3 col-lg-2">
                <p class="text-regular text-white pt-2">خدمات انجمن</p>
                <nav class="navbar p-0">

                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">دوره های آموزشی</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">کارگاه ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">همایش ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">جوایز</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">گواهی نامه ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">مسابقات</a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="register-footer col-12 col-md-6 col-lg-3">
                <p class="text-regular text-white pt-2">عضویت در خبرنامه</p>
                <form action="">
                    <div class="form-group">

                        <input type="email" class="form-control" placeholder="ایمیل" id="email">
                    </div>

                    <button type="submit" class="btn ">عضویت</button>
                </form>
            </div>
        </div>
        <div class="footer-copy row align-items-center pt-4 pb-3">

            <div class="col-12 col-lg-6 text-center text-lg-left">
                <p class="text-gray font-14 ">تمامی حقوق این سایت محفوظ و متعلق به انجمن پروژه ایران می باشد</p>
            </div>
            <div class="col-12 col-lg-6 ">
                <ul class="social m-0 text-center text-lg-right">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<script src="js/all.js"></script>
<script src="js/slick.min.js"></script>


</body>
</html>