<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href=""/>
    <title>انجمن مدیریت پروژه</title>
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' media='all'/>
    <link rel="stylesheet" href="css/stylefont.css" type='text/css' media='all'>
    <link rel="stylesheet" href="css/fontiran.css" type='text/css' media='all'>
    <link rel="stylesheet" href="css/all.css" type='text/css' media='all'>
    <link href='fullcalendar/core/main.css' rel='stylesheet' />
    <link href='fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link rel="stylesheet" href="fullcalendar/list/main.css">
    <link href='fullcalendar/bootstrap/main.css' rel='stylesheet' />
    <link rel="stylesheet" href="fullcalendar/timegrid/main.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css'>
    <link rel="stylesheet" href="css/style-calender.css">
    <link rel="stylesheet" href="css/style-main.css" type='text/css' media='all'>
    <link rel="stylesheet" href="css/responsive.css" type='text/css' media='all'>




</head>
<body>
<header id="header">
    <div class="header-top-bar back-dark-violet pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="img/logo.png" alt="انجمن مدیریت پروژه">
                    <h1 class="text-white d-inline-block font-18 text-regular ml-2">انجمن مدیریت پروژه ایران</h1>
                </div>
                <div class="col-md-6 text-right">
                    <img src="img/ipma-logo.png" alt="انجمن مدیریت پروژه">
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-pages ">
        <div class="header-menu pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg  navbar-dark col-12">


                        <!-- Toggler/collapsibe Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <ul class="navbar-nav nav-login-out ml-auto  order-lg-1">
                            <li class="nav-item ">
                                <a class="nav-link nav-login" data-toggle="modal" data-target="#ModalLogin">
                                    <i class="fa fa-user mr-1"></i>
                                    <span>   ورود کاربران</span>
                                </a>

                            </li>
                            <!-- Dropdown -->
                            <li class="nav-item dropdown nav-lang">
                                <a class="nav-link dropdown-toggle nav-lang-persian" href="#" id="navbardrop5"
                                   data-toggle="dropdown">
                                    <span>فارسی</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-lang-eng" href="#"><span>انگلیسی</span></a>

                                </div>
                            </li>
                        </ul>
                        <!-- Navbar links -->
                        <div class="collapse navbar-collapse order-lg-0" id="collapsibleNavbar">
                            <ul class="navbar-nav header-main">
                                <li class="nav-item active">
                                    <a class="nav-link " href="#">صفحه اول</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">درباره انجمن</a>
                                </li>

                                <!-- Dropdown -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                        شبکه اعضا </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Link 1</a>
                                        <a class="dropdown-item" href="#">Link 2</a>
                                        <a class="dropdown-item" href="#">Link 3</a>
                                    </div>
                                </li>
                                <!-- Dropdown -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop2"
                                       data-toggle="dropdown">
                                        محصولات و خدمات </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Link 1</a>
                                        <a class="dropdown-item" href="#">Link 2</a>
                                        <a class="dropdown-item" href="#">Link 3</a>
                                    </div>
                                </li>
                                <!-- Dropdown -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop3"
                                       data-toggle="dropdown">
                                        ارکان انجمن </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Link 1</a>
                                        <a class="dropdown-item" href="#">Link 2</a>
                                        <a class="dropdown-item" href="#">Link 3</a>
                                    </div>
                                </li>

                            </ul>

                        </div>

                    </nav>
                </div>
            </div>
        </div>

        <div class="slider-text-page pt-5 pt-lg-5 mt-lg-5">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item font-20"><a href="#">خانه</a></li>
                            <li class="breadcrumb-item font-20 active">کاربر</li>
                        </ul>
                        <h1 class="title-page font-42 text-white">صفحه کاربری</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>


</header>
<main id="content-page" role="main">
    <!-- calender main -->
    <div class="container">
        <div class="profile-main mt-5 mb-5">
            <div class="row pb-5">
               <div class="col-12">
                   <div class="row profile-top pt-5 pb-5">
                       <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                           <div class="row justify-content-center">
                               <div class="profile-top-image col-12 col-sm-8 col-md-6 col-lg-12 ">
                                   <img class="img-fluid" src="img/nasrollahpour.jpg" alt="">
                                   <div class="profile-top-icons">
                                       <p class="text-white font-18 text-medium m-0">
                                           <span>کد عضویت :</span>
                                           <span>۴۶۵۷۸</span>
                                       </p>

                                   </div>
                               </div>
                           </div>

                       </div>
                       <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                           <h2 class="popular-pack-in-info-title font-22 text-medium text-black mb-3 ">
                               فرهاد نصرالله پور
                          </h2>
                           <p class="font-16 text-regular text-black">
                               <span>سن :</span>
                               <span class="text-black-light">۲۵ سال</span>
                           </p>
                           <p class="font-16 text-regular text-black">
                               <span>سابقه :</span>
                               <span class="text-black-light">تولید متن تصادفی</span>
                           </p>
                           <p class="font-16 text-regular text-black">
                               <span>مدرک تحصیلی :</span>
                               <span class="text-black-light">تولید متن تصادفی</span>
                           </p>
                           <p class="font-16 text-regular text-black">
                               <span>متن تصادفی :</span>
                               <span class="text-black-light">تولید متن تصادفی</span>
                           </p>
                           <p class="font-16 text-regular text-black">
                               <span>متن تصادفی :</span>
                               <span class="text-black-light">تولید متن تصادفی</span>
                           </p>
                          <div class="social-profile mt-3">
                              <a href="/"><img src="img/social11.png" alt="..."></a>
                              <a href="/"><img src="img/social22.png" alt="..."></a>
                              <a href="/"><img src="img/social33.png" alt="..."></a>
                              <a href="/"><img src="img/social44.png" alt="..."></a>
                              <a href="/"><img src="img/social55.png" alt="..."></a>
                          </div>

                       </div>
                       <div class="col-md-6 col-lg-4">
                          <div class="qr-profile">
                              <img class="img-fluid" src="img/googleQRcodes.png" alt="..">
                          </div>
                       </div>
                       <div class="profile-top-svg">
                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 223.5 607.6">
                           <path d="M5.1,0c28.2,19.8,54.2,48.1,71.6,86.8C140.3,242.3,17,370.8,2,468.5c-12.7,83.3,42.1,144.6,221.2,138.7V0H5.1z"></path>
                       </svg>
                       </div>
                   </div>
               </div>
                <div class="col-12">
                    <div class="detail-profile">
                        <h2 class=" font-24 text-medium text-black  mb-4">مدارک و دوره های گذرانده شده
                        </h2>
                        <p class=" text-black-light font-16 mb-4">
                            تمامی دوره های گذرانده مورد تایید مدیریت پروژه ایران می باشد
                        </p>
                        <h2 class=" font-20 text-medium text-black  mb-4">گواهی نامه ها :
                        </h2>
                        <ul class="list-profile">
                            <li><p class="font-16"><span class="text-black text-medium">عنوان دوره گذرانده شده : </span><span class="text-black-light">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </span><span class="text-dark-violet text-medium">[ از 89 تا 95 ]</span></p></li>
                            <li><p class="font-16"><span class="text-black text-medium">عنوان دوره گذرانده شده : </span><span class="text-black-light">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </span><span class="text-dark-violet text-medium">[ از 89 تا 95 ]</span></p></li>
                            <li><p class="font-16"><span class="text-black text-medium">عنوان دوره گذرانده شده : </span><span class="text-black-light">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </span><span class="text-dark-violet text-medium">[ از 89 تا 95 ]</span></p></li>

                        </ul>
                        <h2 class=" font-20 text-medium text-black mt-4  mb-4">دوره های آموزشی :
                        </h2>
                        <ul class="list-profile">
                            <li><p class="font-16"><span class="text-black text-medium">عنوان دوره گذرانده شده : </span><span class="text-black-light">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </span><span class="text-dark-violet text-medium">[ از 89 تا 95 ]</span></p></li>
                            <li><p class="font-16"><span class="text-black text-medium">عنوان دوره گذرانده شده : </span><span class="text-black-light">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </span><span class="text-dark-violet text-medium">[ از 89 تا 95 ]</span></p></li>
                            <li><p class="font-16"><span class="text-black text-medium">عنوان دوره گذرانده شده : </span><span class="text-black-light">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </span><span class="text-dark-violet text-medium">[ از 89 تا 95 ]</span></p></li>

                        </ul>
                    </div>

                    <div class="form-profile">
                        <h2 class=" font-24 text-medium text-black  mb-4 mt-5">اطلاعات تکمیلی
                        </h2>
                        <form class="sidebar-form-body row">
                            <div class="input-form col-md-6 ">
                                <input type="text" name="text-759" value="" size="40" aria-invalid="false" placeholder="موبایل*">
                                <img src="img/002-telephone.png" class="form-icon">

                            </div>
                            <div class="input-form col-md-6">
                                <input type="email" name="text-759" value="" size="40" aria-invalid="false" placeholder="ایمیل*">
                                <img src="img/003-envelope.png" class="form-icon">
                            </div>
                            <div class="input-form col-md-6">
                                <input type="text" name="text-759" value="" size="40" aria-invalid="false" placeholder="سابقه کار*">
                                <img src="img/001-user.png" class="form-icon">
                            </div>
                            <div class="input-form col-md-6">
                                <input type="text" name="text-759" value="" size="40" aria-invalid="false" placeholder="صنعت قالب*">
                                <img src="img/engineer.png" class="form-icon">
                            </div>
                            <div class="col-12">
                                <div class="input-upload ">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">انتخاب فایل</label>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                                <input type="submit" value="ذخیره تغییرات" class="form-submit-violet text-white font-16 text-medium">

                            </div>

                        </form>
                    </div>


                </div>
            </div>




                </div>

    </div>



</main>
<footer id="footer" class="footer-pages">
    <div class="container">
        <div class="row mb-3">
            <div class="contact-footer col-12 col-lg-5">
                <div class="footer-logo mb-3">
                    <img src="img/logo-foo.png" alt="..">
                    <span class="text-regular text-white">تماس با انجمن</span>
                </div>
                <div class="contact-footer-in">
                    <p class="text-gray font-14"><span>آدرس:</span><span>تهران، امیرآباد شمالی، بالاتر از بزرگراه جلال آل احمد، پردیس دانشکده های فنی دانشگاه تهران، ساختمان انستیتو مهندسی نفت، طبقه همکف</span>
                    </p>
                </div>
                <div class="contact-footer-in">
                    <p class="text-gray font-14"><span>تلفن:</span><span>(5خط) 88229406</span></p>
                </div>
                <div class="contact-footer-in">
                    <p class="text-gray font-14"><span>نمابر:</span><span>89784216</span></p>
                </div>
                <div class="contact-footer-in">
                    <p class="text-gray font-14"><span>پست الكترونيك دبیرخانه:</span><span>info@ipma.ir</span></p>
                </div>
                <div class="contact-footer-in">
                    <p class="text-gray font-14"><span>پست الکترونیک عضویت: </span><span>membership@ipma.ir</span></p>
                </div>
            </div>
            <div class="link-footer col-6 col-sm-6 col-md-3 col-lg-2">
                <p class="text-regular text-white pt-2">لینک انجمن</p>
                <nav class="navbar p-0">

                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">تاریخچه انجمن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">سازمان انجمن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">اساسنامه و مجوزها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">اعضای هیات مدیره</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">موسسین انجمن</a>
                        </li>

                    </ul>

                </nav>
            </div>
            <div class="link-footer col-6 col-sm-6 col-md-3 col-lg-2">
                <p class="text-regular text-white pt-2">خدمات انجمن</p>
                <nav class="navbar p-0">

                    <!-- Links -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">دوره های آموزشی</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">کارگاه ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">همایش ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">جوایز</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">گواهی نامه ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-gray font-14" href="#">مسابقات</a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="register-footer col-12 col-md-6 col-lg-3">
                <p class="text-regular text-white pt-2">عضویت در خبرنامه</p>
                <form action="">
                    <div class="form-group">

                        <input type="email" class="form-control" placeholder="ایمیل" id="email">
                    </div>

                    <button type="submit" class="btn ">عضویت</button>
                </form>
            </div>
        </div>
        <div class="footer-copy row align-items-center pt-4 pb-3">

            <div class="col-12 col-lg-6 text-center text-lg-left">
                <p class="text-gray font-14 ">تمامی حقوق این سایت محفوظ و متعلق به انجمن پروژه ایران می باشد</p>
            </div>
            <div class="col-12 col-lg-6 ">
                <ul class="social m-0 text-center text-lg-right">
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script type='text/javascript' src='js/bootstrap.min.js'></script>
<script src="js/all.js"></script>
<script src="js/slick.min.js"></script>



<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>

</body>
</html>